@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#top_content {
    background-image: linear-gradient(to right, rgb(27, 0, 37) , rgb(48, 1, 68));
    padding:10px;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    color: #ffffffff;
    text-align: left;
}

#middle_content {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(36, 36, 36, 0.5) ), url("./images/frame2bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: azure;
    text-shadow: 4px 4px 8px #2c2c2c;
    text-align: justify;
    padding: 200px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom:20px;
}

li {
    display: inline;
    padding-right: 40px;
    padding-bottom: 60px;
}

a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(63, 63, 63);
  }

#footer_content {
    background-image: linear-gradient(to right, rgb(102, 102, 102) , rgb(9, 1, 12));
    text-align: center;
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #ffffffff;
} 