body {
    font-family: "Bahnschrift";
    padding: 50px;
    padding-left:240px;
    justify-content: center;
    background: url("../reg-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(75, 75, 75);
    background-blend-mode: multiply;
}

#form {
    padding-left: 300px;
    padding-top: 30px;
    display: block;
    align-items: center;
    font-size: 19px;
}

.input-box {
    font-family: "Bahnschrift";
    font-size: 18px;
    padding: 6px;
    width: 350px;
    border: 1px solid rgb(0, 0, 0);
}

textarea {
    font-family: "Bahnschrift";
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
}

button {
    border: 1px solid #4d4d4d;
    background-color: black;
    color: white;
    padding: 12px 38px;
    cursor:pointer;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
}

h1 {
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding-left:297px;
    font-size: 34px;
}

span {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px #000000;
}

label {
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 18px;
}
